<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    	<link rel=stylesheet type=text/css href="static/960_12_col.css">
        <link rel=stylesheet type=text/css href="static/normalize.css">
        <link rel=stylesheet type=text/css href="static/main.css">
        
        <script src="static/modernizr-2.6.2.min.js"></script>
        
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->


        <!-- Add your site or application content here -->
        <div class="container_12">
			<div class="grid_12" style="font-size:12px;color:#ffffff;background-color:#000000;">
				{{ alerts }}
			</div>
        </div>
        
        
        <div class="container_12">
			<div class="grid_3">
				domomark
			</div>
			<div class="grid_3 push_6">
				about | sign in | <a href='/logout'>sign out</a>
			</div>
        </div>
        
        <p><p><p></p></p></p>
		<form method="POST">
		<div class="container_12">
			<div class="grid_1"><b>Username:</b></div>
			<div class="grid_1 prefix_1"><input name="username" type="text"></div>
			<br />
		</div>
		<div class="container_12">
			<div class="grid_1"><b>Password:</b></div>
			<div class="grid_1 prefix_1"><input name="password" type="password"></div>
			<br />
		</div>
		<div class="container_12">
        	<div class="grid_1"><input type="submit" value="login"></div>
		</div>
        </form>
		
        
        <p><p><p></p></p></p>
        
        <div class="container_12">
			<div class="grid_12" style="font-size:12px;color:#ffffff;background-color:#000000;">
				&nbsp;&nbsp;Michael J. Lo (c) 2013
			</div>
        </div>
		<!-- End application content here -->
		
		
		
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="static/jquery-1.9.0.min.js"><\/script>')</script>
        <script src="static/plugins.js"></script>
        <script src="static/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-39516027-2', 'herokuapp.com');
          ga('send', 'pageview');
		</script>
        
        <!-- Start Tracker Code -->
        <!--
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
        -->
    	<!-- End Old Tracker Code -->
    </body>
</html>
